<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="lat">
	{$lat_editcontrol}
	</control>
	<control 
	field="google_name">
	{$google_name_editcontrol}
	</control>
	<control 
	field="custom_address_1">
	{$custom_address_1_editcontrol}
	</control>
	<control 
	field="custom_address_2">
	{$custom_address_2_editcontrol}
	</control>
	<control 
	field="created_at">
	{$created_at_editcontrol}
	</control>
	<control 
	field="updated_at">
	{$updated_at_editcontrol}
	</control>
	<control 
	field="lng">
	{$lng_editcontrol}
	</control>
	<control 
	field="identifier">
	{$identifier_editcontrol}
	</control>
	<control 
	field="polling_station_code">
	{$polling_station_code_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
