<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="job_name">
	{$job_name_editcontrol}
	</control>
	<control 
	field="category_id">
	{$category_id_editcontrol}
	</control>
	<control 
	field="added_by">
	{$added_by_editcontrol}
	</control>
	<control 
	field="created_at">
	{$created_at_editcontrol}
	</control>
	<control 
	field="updated_at">
	{$updated_at_editcontrol}
	</control>
	<control 
	field="fields">
	{$fields_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
