<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="find_me_code">
	{$find_me_code_editcontrol}
	</control>
	<control 
	field="town_id">
	{$town_id_editcontrol}
	</control>
	<control 
	field="point1">
	{$point1_editcontrol}
	</control>
	<control 
	field="point2">
	{$point2_editcontrol}
	</control>
	<control 
	field="point3">
	{$point3_editcontrol}
	</control>
	<control 
	field="point4">
	{$point4_editcontrol}
	</control>
	<control 
	field="point5">
	{$point5_editcontrol}
	</control>
	<control 
	field="point6">
	{$point6_editcontrol}
	</control>
	<control 
	field="polling_coordinates_id">
	{$polling_coordinates_id_editcontrol}
	</control>
	<control 
	field="created_at">
	{$created_at_editcontrol}
	</control>
	<control 
	field="updated_at">
	{$updated_at_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
