<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel polling_coordinates_map add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN find_me_code_fieldblock}
<tr class="{$fielddispclass_find_me_code}" data-fieldname="find_me_code">
	<td class="rnr-label">
		{BEGIN find_me_code_label}{$label polling_coordinates_map find_me_code}{END find_me_code_label}
	</td>
	<td class="rnr-control style3">
		{$find_me_code_editcontrol}&nbsp;
	</td>
</tr>
{END find_me_code_fieldblock}
	{BEGIN town_id_fieldblock}
<tr class="{$fielddispclass_town_id}" data-fieldname="town_id">
	<td class="rnr-label">
		{BEGIN town_id_label}{$label polling_coordinates_map town_id}{END town_id_label}
	</td>
	<td class="rnr-control style3">
		{$town_id_editcontrol}&nbsp;
	</td>
</tr>
{END town_id_fieldblock}
	{BEGIN point1_fieldblock}
<tr class="{$fielddispclass_point1}" data-fieldname="point1">
	<td class="rnr-label">
		{BEGIN point1_label}{$label polling_coordinates_map point1}{END point1_label}
	</td>
	<td class="rnr-control style3">
		{$point1_editcontrol}&nbsp;
	</td>
</tr>
{END point1_fieldblock}
	{BEGIN point2_fieldblock}
<tr class="{$fielddispclass_point2}" data-fieldname="point2">
	<td class="rnr-label">
		{BEGIN point2_label}{$label polling_coordinates_map point2}{END point2_label}
	</td>
	<td class="rnr-control style3">
		{$point2_editcontrol}&nbsp;
	</td>
</tr>
{END point2_fieldblock}
	{BEGIN point3_fieldblock}
<tr class="{$fielddispclass_point3}" data-fieldname="point3">
	<td class="rnr-label">
		{BEGIN point3_label}{$label polling_coordinates_map point3}{END point3_label}
	</td>
	<td class="rnr-control style3">
		{$point3_editcontrol}&nbsp;
	</td>
</tr>
{END point3_fieldblock}
	{BEGIN point4_fieldblock}
<tr class="{$fielddispclass_point4}" data-fieldname="point4">
	<td class="rnr-label">
		{BEGIN point4_label}{$label polling_coordinates_map point4}{END point4_label}
	</td>
	<td class="rnr-control style3">
		{$point4_editcontrol}&nbsp;
	</td>
</tr>
{END point4_fieldblock}
	{BEGIN point5_fieldblock}
<tr class="{$fielddispclass_point5}" data-fieldname="point5">
	<td class="rnr-label">
		{BEGIN point5_label}{$label polling_coordinates_map point5}{END point5_label}
	</td>
	<td class="rnr-control style3">
		{$point5_editcontrol}&nbsp;
	</td>
</tr>
{END point5_fieldblock}
	{BEGIN point6_fieldblock}
<tr class="{$fielddispclass_point6}" data-fieldname="point6">
	<td class="rnr-label">
		{BEGIN point6_label}{$label polling_coordinates_map point6}{END point6_label}
	</td>
	<td class="rnr-control style3">
		{$point6_editcontrol}&nbsp;
	</td>
</tr>
{END point6_fieldblock}
	{BEGIN polling_coordinates_id_fieldblock}
<tr class="{$fielddispclass_polling_coordinates_id}" data-fieldname="polling_coordinates_id">
	<td class="rnr-label">
		{BEGIN polling_coordinates_id_label}{$label polling_coordinates_map polling_coordinates_id}{END polling_coordinates_id_label}
	</td>
	<td class="rnr-control style3">
		{$polling_coordinates_id_editcontrol}&nbsp;
	</td>
</tr>
{END polling_coordinates_id_fieldblock}
	{BEGIN created_at_fieldblock}
<tr class="{$fielddispclass_created_at}" data-fieldname="created_at">
	<td class="rnr-label">
		{BEGIN created_at_label}{$label polling_coordinates_map created_at}{END created_at_label}
	</td>
	<td class="rnr-control style3">
		{$created_at_editcontrol}&nbsp;
	</td>
</tr>
{END created_at_fieldblock}
	{BEGIN updated_at_fieldblock}
<tr class="{$fielddispclass_updated_at}" data-fieldname="updated_at">
	<td class="rnr-label">
		{BEGIN updated_at_label}{$label polling_coordinates_map updated_at}{END updated_at_label}
	</td>
	<td class="rnr-control style3">
		{$updated_at_editcontrol}&nbsp;
	</td>
</tr>
{END updated_at_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
