<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="user_id">
	{$user_id_editcontrol}
	</control>
	<control 
	field="email">
	{$email_editcontrol}
	</control>
	<control 
	field="town_id">
	{$town_id_editcontrol}
	</control>
	<control 
	field="verified">
	{$verified_editcontrol}
	</control>
	<control 
	field="verified_by">
	{$verified_by_editcontrol}
	</control>
	<control 
	field="photo">
	{$photo_editcontrol}
	</control>
	<control 
	field="latitude">
	{$latitude_editcontrol}
	</control>
	<control 
	field="longitude">
	{$longitude_editcontrol}
	</control>
	<control 
	field="find_me_code">
	{$find_me_code_editcontrol}
	</control>
	<control 
	field="created_at">
	{$created_at_editcontrol}
	</control>
	<control 
	field="updated_at">
	{$updated_at_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
