<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="name">
	{$name_editcontrol}
	</control>
	<control field="phone">
	{$phone_editcontrol}
	</control>
	<control field="password">
	{$password_editcontrol}
	</control>
	<control field="verification_code">
	{$verification_code_editcontrol}
	</control>
	<control field="phone_verified">
	{$phone_verified_editcontrol}
	</control>
	<control field="active">
	{$active_editcontrol}
	</control>
	<control field="added_by">
	{$added_by_editcontrol}
	</control>
	<control field="type_id">
	{$type_id_editcontrol}
	</control>
	<control field="remember_token">
	{$remember_token_editcontrol}
	</control>
	<control field="created_at">
	{$created_at_editcontrol}
	</control>
	<control field="updated_at">
	{$updated_at_editcontrol}
	</control>
	<control field="identifier">
	{$identifier_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>